
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
    margin: 0;
}

.calculator {
    width: 300px;
    background-color:#18120fd0 ;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgb (0, 0, 0, 0.1);
    padding: 20px;
}

.display {
    width: 94%;
    height: 25px;
    text-align: right;
    font-size: 1.5rem;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    background-color:#9aa2a477;
    border-radius: 8px;
    color: whitesmoke;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.button {
    background-color: #9aa2a477;
    border: none;
    font-size: 1.5rem;
    padding: 20px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.2s;
    color: white;
}

.button:hover {
    background-color: #9aa2a477;
    transform: scale(1.1);
}

.button:active {
    transform: scale(0.95);
}

.button.clear {
    background-color: hsla(206, 3%, 51%, 0.636);
}

.button.clear:hover {
    background-color: hsla(206, 3%, 51%, 0.636);
}

.button.equal {
    background-color: #ff9800;
}

.button.equal:hover {
    background-color: #f57c00;
}

.button.operator {
    background-color: #ff9800;
}

.button.operator:hover {
    background-color: #f57c00;
}





